<!doctype html>
<html>
<head>
<title>Verificador de Entregas</title>
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
<style>
    ::placeholder {
  color: red;
}
</style>
</head>

<center>
<body style="background-color:rgb(68, 192, 161)">
    <h1 style="color:green;">Pesquisa feita e sms enviado :)</h1>
    <span style="border:4px solid green;border-radius:20px;font-family:'Press Start 2P',cursive;padding-left:7px;padding-right:7px;padding-top:1px; padding-bottom:1px;background-color: rgb(15, 6, 94);color:white ;">
    {{code}} 
    &#x2713;
    | 
    {{phone}} 
    &#x2713;
    </span>
    <div>
        <h2>{{text.title}}</h2>
    <p  align='left' style="max-width:600px;border:4px solid green;border-radius:20px;background-color: rgb(15, 6, 94);color:rgb(255, 255, 255);font-size:30px;padding-left:10px;">
        {{text.s1}}<br>
        {{text.s2}}<br>
        {{text.s3}}
    </p>
    </div>
    <strong><p>Pode ser que o sms demore alguns segundos para chegar.</p></strong>
    <form action="/" method="get">
        <button  style="height:50px;background-color:rgb(160, 159, 159); border-color:rgb(0, 0, 0)"><strong>Consultar outro rastreio</strong></button>
    </form>    
</body>
</center>
</html>